streamlit==1.63.0
pandas==3.0.5
numpy==2.4.6
scipy==1.17.1
scikit-learn==1.9.0
spacy==3.8.16
joblib==1.6.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.27.4
requests==2.34.2
python-dotenv==1.2.3

en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl